$blue: #3b82f6;
$dark-blue: #2b60b6;
$light-blue: #eaf2fe;

$red: #ff4d4f;
$light-red: #fcf1f1;

$green: #0db50d;
$dark-green: #0e8c0e;

$lighter-gray : "#e6e6e6";
$light-gray : "#c8c8c8";
$gray: "#2a2a2a";
$dark-gray: "#0c0e12";