// color variables
$blue: #3b82f6;
$red: #ff4d4f;
$green: #0db50d;
$light-blue: #eaf2fe;
$light-red: #fcf1f1;
$dark-green: #0e8c0e;


.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 70vw;
    margin: 16px auto;
}

.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    }

    &__content {
        flex: 1;
    }
}

.bold {
    font-weight: bold;

    span {
        font-weight: normal;
    }
}

.input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    margin: 8px 0;

    &:focus {
        outline: none;
        border-color: $blue;
        box-shadow: 0 0 0 3px rgba($blue, 0.2);
    }
}

.emptyState {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    text-align: center;
    color: #666;
    background: #f9f9f9;
    border-radius: 12px;
    border: 2px dashed #ddd;
}

.actionsRow {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.button {
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s ease;

    &--edit {
        border: 1px solid $blue;
        color: $blue;

        &:hover {
            background: $light-blue
        }
    }

    &--delete {
        border: 1px solid $red;
        color: $red;

        &:hover {
            background: $light-red
        }
    }

    &--save {
        border: none;
        background: $green;
        color: #fff;

        &:hover {
            background: $dark-green;
        }
    }
}