@use '@/styles/colors' as *;


.headerContainer {
    background-color: $light-blue;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    padding: 20px;

}

.logoTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    color: $blue;
}

:global(.dark) {
    .headerContainer {
        background-color: $gray;
    }

}